---
const { link, title, logo, width = 60} = Astro.props;

---

<a href={link} class="flex flex-col items-center p-4 bg-white shadow-lg rounded-lg transition-transform w-[100px] h-[130px] hover:scale-105">
  <div class={`w-[${width}] h-[${width}] text-gba-blue`} set:html={logo}></div>
  <span class="text-gba-pink font-medium mt-2">{title}</span>
</a>
